<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DAL.Properties.Settings.silkspanConnectionString" connectionString="Data Source=192.168.10.103;Initial Catalog=silkspan;User ID=dotnet;Password=2cdM0n1t0r" providerName="System.Data.SqlClient" />
    <add name="silkspanEntities" connectionString="metadata=res://*/Entity.Entity.csdl|res://*/Entity.Entity.ssdl|res://*/Entity.Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.103;initial catalog=silkspan;user id=dotnet;password=2cdM0n1t0r;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>